.welcome-container{
    height: 100%;
    width: 100%;
    background: url(../../../assets/img/welcome-background.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;    
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 0;
}

.welcome-wrapper{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.welcome-avi-pane{
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    overflow-x: hidden;
}

.welcome-avi-pane::-webkit-scrollbar {
    display: none;
  } 

  .welcome-avi-pane::-webkit-scrollbar-thumb{
    display: none;
}
  
.welcome-avi-pane::-webkit-scrollbar-track {
    display: none;
}

.welcome-avi-pane-content{
    height: auto;
    width: 90%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-message-pane{
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
}

.welcome-avi{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.welcome-name{
    color: white;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
}

.welcome-job-title{
    color: white;
    font-size: 20px;
    text-align: center;
}

.welcome-social-media-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome-social-media-wrapper a{
    margin: 5px;
}

.welcome-social-media-wrapper a:nth-child(1){
    color: #2867B2;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(1):hover{
    color: #368efa;
}

.welcome-social-media-wrapper a:nth-child(2){
    color: #1DA1F2;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(2):hover{
    color: #55b3ee;
}

.welcome-social-media-wrapper a:nth-child(3){
    color: #2684FF;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(3):hover{
    color: #68aaff;
}

.welcome-social-media-wrapper a:nth-child(4){
    color: #FF0000;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(4):hover{
    color: #ff3a3a;
}

.welcome-social-media-wrapper a:nth-child(5){
    color: #E1306C;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(5):hover{
    color: rgb(255, 86, 86);
}

.welcome-social-media-wrapper a:nth-child(6){
    color: #4267B2;
    cursor: pointer;
    transition-duration: 0.5s;
}

.welcome-social-media-wrapper a:nth-child(6):hover{
    color: #588cf3;
}

.welcome-message-wrapper{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.welcome-message{
    color: white;
    text-align: center;
}

@media(max-width: 650px){
    .welcome-social-media-wrapper{
        width: 100%;
        height: auto;
        display: grid;
        grid-template: 
        'li tw'
        'bb yt'
        'ig fb';
        justify-content: center;
        align-items: center;
    }

    .welcome-linkedin{
        grid-area: li;
    }

    .welcome-twitter{
        grid-area: tw;
    }

    .welcome-bitbucket{
        grid-area: bb;
    }

    .welcome-youtube{
        grid-area: yt;
    }

    .welcome-instagram{
        grid-area: ig;
    }

    .welcome-facebook{
        grid-area: fb;
    }
}