<div class="home-container">
    <div class="home-wrapper">
        <div class="home-avi-pane" [@containerFadeIn]='state'>
            <div class="home-avi-pane-content" [@contentFadeIn]='state'>
                <img src="../../../assets/img/linkedin.jpg" alt="Avatar" class="home-avi" />
                <h2 class="home-name">Wyatt Towne</h2>
                <h3 class="home-job-title">Software Engineer</h3>
                <div class="home-social-media-wrapper">
                    <a href="https://www.linkedin.com/in/wyatt-towne-9014a9126"><i class="fa fa-3x fa-linkedin-square"></i></a>
                    <a href="https://twitter.com/wtowne24?lang=en"><i class="fa fa-3x fa-twitter-square"></i></a>
                    <a href="https://bitbucket.org/wymtowne/workspace/projects/PUB"><i class="fa fa-3x fa-bitbucket-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCvWZLYRA3ihsPlz_S-XQhpg"><i class="fa fa-3x fa-youtube-square"></i></a>
                    <a href="https://www.instagram.com/wtowne24/?hl=en"><i class="fa fa-3x fa-instagram"></i></a>
                    <a href="https://www.facebook.com/wyatt.towne.7"><i class="fa fa-3x fa-facebook-square"></i></a>
                </div>
                <div class="home-message-wrapper">
                    <h3 class="home-message">{{message}}</h3>
                </div>
            </div>
        </div>
        <div class="home-filler-pane">
            
        </div>
    </div>
</div>
