html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(39, 39, 39));
    /*background: rgba(0, 0, 0, 1);*/
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
