<div class="menu-container">
    <div class="menu-wrapper">
        <ul>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
            <li><a id="menu-projects-button" (click)="onMenuItemClick('menu-projects-list')">Projects
                <span class="fa fa-caret-down menu-caret-down-first"></span>
            </a></li>
            <li>
                <ul id="menu-projects-list">
                    <li><a (click)="onMenuItemClick('menu-reactjs-list')">Reactjs</a></li>
                    <li>
                        <ul id="menu-reactjs-list">
                            <li><a>Fit4Life</a></li>
                            <li><a>MidMichiganSeconds</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Angular-list')">Angular</a></li>
                    <li>
                        <ul id="menu-Angular-list">
                            <li><a>Portfolio Site</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-JavaSpring-list')">Java (Spring)</a></li>
                    <li>
                        <ul id="menu-JavaSpring-list">
                            <li><a>Fit4Life API</a></li>
                            <li><a>MidMichiganSeconds API</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-JavaAndroid-list')">Java (Android)</a></li>
                    <li>
                        <ul id="menu-JavaAndroid-list">
                            <li><a>FreezeTrack</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Fullstack-list')">Fullstack Projects</a></li>
                    <li>
                        <ul id="menu-Fullstack-list">
                            <li><a>Fit4Life</a></li>
                            <li><a>MidMichiganSeconds</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
