<div class="menu-container">
    <div class="menu-wrapper">
        <ul>
            <li><a href="#welcome-container">Home</a></li>
            <li><a href="#about-container">About</a></li>
            <li><a href="../../../assets/file/WT_Resume_2020.docx" download="">Resume</a></li>
            <li><a id="menu-projects-button" (click)="onMenuItemClick('menu-projects-list')" href="#project-container">Projects
                <span class="fa fa-caret-down menu-caret-down-first"></span>
            </a></li>
            <li>
                <ul id="menu-projects-list">
                    <li><a (click)="onMenuItemClick('menu-reactjs-list')">Reactjs</a></li>
                    <li>
                        <ul id="menu-reactjs-list">
                            <li class="menu-Fit4Life" (click)="onMenuItemClick('menu-Fit4Life')"><a>Fit4Life</a></li>
                            <li class="menu-MidMichiganSeconds" (click)="onMenuItemClick('menu-MidMichiganSeconds')"><a>MidMichiganSeconds</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Angular-list')">Angular</a></li>
                    <li>
                        <ul id="menu-Angular-list">
                            <li class="menu-PortfolioSite" (click)="onMenuItemClick('menu-PortfolioSite')"><a>Portfolio Site</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-JavaSpring-list')">Java (Spring)</a></li>
                    <li>
                        <ul id="menu-JavaSpring-list">
                            <li class="menu-Fit4LifeAPI" (click)="onMenuItemClick('menu-Fit4LifeAPI')"><a>Fit4Life API</a></li>
                            <li class="menu-MidMichiganSecondsAPI" (click)="onMenuItemClick('menu-MidMichiganSecondsAPI')"><a>MidMichiganSeconds API</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-JavaAndroid-list')">Java (Android)</a></li>
                    <li>
                        <ul id="menu-JavaAndroid-list">
                            <li class="menu-FreezeTrack" (click)="onMenuItemClick('menu-FreezeTrack')"><a>FreezeTrack</a></li>
                            <li class="menu-Ahem" (click)="onMenuItemClick('menu-Ahem')"><a>Ahem</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Cpp-list')">C++</a></li>
                    <li>
                        <ul id="menu-Cpp-list">
                            <li class="menu-CppTutorials" (click)="onMenuItemClick('menu-CppTutorials')"><a>C++ Tutorials</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Fullstack-list')">Fullstack Projects</a></li>
                    <li>
                        <ul id="menu-Fullstack-list">
                            <li class="menu-Fit4Life-Fullstack" (click)="onMenuItemClick('menu-Fit4Life-Fullstack')"><a>Fit4Life</a></li>
                            <li class="menu-MidMichiganSeconds-Fullstack" (click)="onMenuItemClick('menu-MidMichiganSeconds-Fullstack')"><a>MidMichiganSeconds</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-MachineLearning-list')">Machine Learning</a></li>
                    <li>
                        <ul id="menu-MachineLearning-list">
                            <li class="menu-MachineLearning" (click)="onMenuItemClick('menu-MachineLearning')"><a>CSCI 2020</a></li>
                        </ul>
                    </li>
                    <li><a (click)="onMenuItemClick('menu-Experience-list')">Industry Experience</a></li>
                    <li>
                        <ul id="menu-Experience-list">
                            <li class="menu-DowCoop" (click)="onMenuItemClick('menu-DowCoop')"><a>Dow - Coop</a></li>
                            <li class="menu-DowFullTime" (click)="onMenuItemClick('menu-DowSoftwareDeveloper')"><a>Dow - Software Developer</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
