<div class="experience-container">
    <div class="experience-wrapper">
        <div class="experience-content">
            <div class="experience-FullstackDevelopment experience-card">
                <h1 class="experience-card-title">Fullstack Development</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">Being a fullstack developer was something I always wanted to do ever since I started my career in computer programming. I have gathered requirements, designed and developed multiple fullstack applications for real clients and users.</h2>
            </div>
            <div class="experience-MobileDevelopment experience-card">
                <h1 class="experience-card-title">Mobile Development</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">Mobile development is something I picked up as a hobby and took off with it on several projects that I built from the ground up, integrating third party API's including Google Maps and PayPal to name a few.</h2>
            </div>
            <div class="experience-WebDevelopment experience-card">
                <h1 class="experience-card-title">Web Development</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">I have built several web apps for clients, whether that be for improving the efficiency of a business process, or bringing to life an idea in someones head. Web apps are my go to choice for when users want a quick solution that offers cross platform usability.</h2>
            </div>
            <div class="experience-CloudBased experience-card">
                <h1 class="experience-card-title">Cloud Development</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">Cloud based development is such an interesting space with so many possibilities. I have worked in several cloud platforms such as AWS, SAP Cloud Platform, Azure, and Heroku where I managed various services including application deployment, content delivery networks, database servers, storage buckets, git repositories, etc.</h2>
            </div>
            <div class="experience-DesktopDevelopment experience-card">
                <h1 class="experience-card-title">Desktop Applications</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">Desktop development is where I first started my journey in software engineering. I have built multiple desktop based applications on either an Agile team, or as a solo project where I was in charge of requirement gather, designing, testing, and implementation.</h2>
            </div>
            <div class="experience-Interests experience-card">
                <h1 class="experience-card-title">Interests</h1>
                <div class="experience-card-line"></div>
                <h2 class="experience-card-description">Programming has so much to offer, and I want to try just about everything. Some areas I am currently working in to further broaden my skillset are Machine Learning, Blockchain Development including developing smart contracts to hook into client side web applications, and Game Development.</h2>
            </div>
        </div>
    </div>
</div>
